<!-- start content -->
<div data-role="content" data-inset="true">
	<%= form_for(:session, url: sessions_path) do |f| %>
	<%= f.label :email %>
	<%= f.text_field :email %>
	<%= f.label :password %>
	<%= f.password_field :password %>
	<%= f.submit "Sign in", class: "button" %>
	<% end %>

	<!-- <input id="Submit1" type="submit" value="Sign Up" data-role="button" data-inline="true" data-theme="b" /> -->
	<form action="/FormActions/login.ashx" method="POST">
		<fieldset>

			<asp:Literal runat="server" ID="litMessage"></asp:Literal>

			<hr />
			<!-- Don't have a login? <a href="register.aspx">Sign Up</a> -->
		</fieldset>
	</form>

</div>
<!-- end content -->