<div id="container">
	<div data-role="content" data-inset="true">
		<%= form_for(@item) do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %>
		<%= f.label :description %>
		<%= f.text_area :description %>
		<%= f.submit "Create", "data-role" => "button", "data-inline" => "true", "data-theme" => "b" %>
		<% end %>

	</div>
</div>


