<div data-role="header">
  <h1>Market</h1>
  <%= link_to 'Sell/Buy', new_item_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
  <%= link_to 'Map', map_path, "class" => "ui-btn-left" %>

</div>

<div data-role="content">
  <ul data-role="listview">
    <% @items.each do |item| %>
    <li>
      <%= item.name %> $<%= item.price %>
      <%= link_to '', item_path(item), "data-icon" => "gear" %>
    </li>
    <% end %>
  </ul>
</div>
